<html>
<head>

</head>

<body>
<div class="count">
  <h1>Articles</h1>
    <div class="alert alert-info" role="alert">
      Our blog has <%= Article.public_count %> articles and counting!
    </div>
</div>
<style>
.count {
  text-align: center;
}
</style>

<div class="contain">
  <div class="card">
    <div class="card-body">
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim.</p>
              <a class="btn btn-primary" <%=link_to "Read Here", article %></a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div><br>

<style>
.contain {
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  width: 50% ;
}
</style>
  </body>
</html>
